/* https://coolors.co/50514f-b4adea-fdfff7-59ffa0-ffed65 */

html,
body {
  background-color: #333;
  color: white;
  font-family: 'Noto Sons Mono', monospace;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

code {
  background-color: #f4f4f4;
  border-radius: 16px;
  display: inline-block;
  font-size: 1em;
  padding: 0.5em;
}

dialog {
  background-color: #333;
  box-shadow: 0 0 0.75rem 0.5rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 16px;
  padding: 0;
  width: 50%;
}

dialog a {
  color: #333;
}

dialog a:visited {
  color: #B4ADEA;
}

dialog details,
dialog h2 {
  background-color: white;
  border-bottom: 1px solid #A7A9A4;
  border-top: 1px solid #A7A9A4;
  padding: 1em;
}

dialog details + details {
  border-top: none;
}

dialog details > details {
  border: none;
}

details > summary {
  cursor: pointer;
}

dialog .container {
  align-items: start;
}

dialog .container .flex-left {
  flex-direction: column;
}

dialog .flex-left {
  flex: 2;
}

dialog .flex-right .grid {
  margin-left: 1em;
}

dialog .button,
dialog button {
  background-color: #333;
  border: none;
  border-radius: 16px;
  color: #d2d3cd;
  cursor: pointer;
  font-size: 1em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

dialog .buttons {
  margin-bottom: 1em;
}

dialog details h2,
dialog details h3,
dialog details p {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

dialog h2 {
  font-size: 1.1rem;
  margin: 0;
  padding: 1rem;
}

dialog header {
  align-items: center;
  background-color: #333;
  color: white;
  display: flex;
  font-size: 1em;
  padding: 1rem;
}

dialog header button {
  border: none;
  background: none;
  color: white;
}

dialog p {
  margin: 1em;
}

dialog main {
  background-color: #d4d7d1;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

dialog footer {
  align-items: center;
  background-color: #333;
  border-top: 1px solid #ddd;
  display: flex;
  padding: 0.5em 1em;
}

dialog footer a {
  color: #d2d3cd;
}

dialog footer ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog footer ul li {
  border-left: 1px solid #ddd;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

dialog footer ul li:first-child {
  border: none;
  margin: 0;
  padding: 0;
}

p.center {
  margin: 1em auto;
}

#container {
  display: flex;
  flex-direction: column;
  width: min-content;
}

#container header,
#container footer {
  align-items: stretch;
  display: flex;
}

#container header {
  color: white;
}

#container header a {
  color: white;
  text-decoration: none;
}

#container footer {
  flex-direction: column;
  margin-bottom: 1em;
}

#container select {
  appearance: none;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Noto Sons Mono', monospace;
  font-size: 1em;
  text-align: center;
}

#container input {
  cursor: pointer;
}

#container #home {
  color: #B4ADEA;
}

#expand {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  padding: 0.5em;
}

#grid {
  box-sizing: border-box;
  width: 100%;
}

#letter-points .letters {
  text-transform: uppercase;
}

#letter-points .points {
  color: black;
  margin-right: 0.5em;
  font-weight: bold;
}

#letter-points .points::before,
#letter-points .points::after {
  content: '';
}

#scoring-examples li {
  margin-bottom: 1em;
}

#scoring-examples li:last-child {
  margin-bottom: 0;
}

#scoring-examples .container {
  flex-direction: column;
}

#scoring-examples .container .flex-left {
  order: 2
}

#scoring-examples .container .flex-right {
  order: 1
}

#scoring-examples .flex-right .grid {
  margin-left: 0;
}

#selection.selection {
  border-radius: 0 0 16px 16px;
  display: block;
  font-size: 2em;
}

#selection span {
  padding-left: 0.5em;
  word-break: break-all;
}

#selection span:first-child {
  padding-left: 0;
}

#selection:empty::before {
  content: '...';
  display: inline-block;
}

#settings label {
  background-color: #333;
  border: none;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  padding: 0.25em 0.5em;
}

#status {
  color: #FFED65;
  font-size: 24px;
  padding: 1em 0;
  text-wrap: nowrap;
}

#status::before {
  color: white;
  margin-right: 0.5em;
}

#swaps .swap {
  text-wrap: nowrap;
}

#title {
  font-size: 24px;
  padding: 1em 0 1em 1em;
  text-wrap: nowrap;
}

.buttons {
  grid-gap: 1em;
  margin: 1em 0;
}

.center {
  margin: 0 auto;
}

.container {
  display: flex;
  width: 100%;
}

.delete {
  align-items: center;
  background-color: #333;
  border-radius: 16px;
  cursor: pointer;
  padding: 0.25em 0.5em;
}

.drawer {
  background: #50514F;
  border-radius: 16px;
  color: #d2d3cd;
  display: none;
  font-size: 20px;
  padding: 1em;
}

.drawer h3,
.drawer summary {
  color: white;
  font-size: 1em;
  margin: 0 0 0.5em 0;
}

.drawer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer li {
  margin-bottom: 0.5em;
}

.drawer li {
  padding: 0 0.5em;
}

.drawer ul:empty::after {
  padding: 0.5em;
}

.drawer li:last-child {
  margin-bottom: 0;
}

.drawer li .flex-left {
  flex-basis: fit-content;
}

.drawer ul:empty::after {
  content: 'N/A';
  display: inline-block;
}

.drawer .container {
  align-items: center;
}

.drawer .section {
  margin-bottom: 1em;
}

.drawer .section:last-child {
  margin: 0;
}

.expanded .drawer {
  display: block;
}

.flex-center,
.flex-left,
.flex-right {
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-basis: fit-content;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
  margin-left: 1em;
}

.grid {
  align-items: center;
  aspect-ratio: 1;
  background-color: #A7A9A4;
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  display: grid;
  gap: clamp(8px, 2vw, 16px);
  justify-items: center;
  margin: auto;
  padding: clamp(8px, 2vw, 16px);
  position: relative;
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  z-index: 0;
}

.grid.grid-loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grid .cell {
  align-items: center;
  aspect-ratio: 1;
  box-sizing: border-box;
  color: #333;
  display: flex;
  justify-content: center;
  position: relative;
  width: clamp(48px, 12vw, 64px);
}

.grid.example {
  aspect-ratio: auto;
  border-radius: 16px;
}

.grid[data-width="3"] {
  grid-template-columns: repeat(3, 1fr);
}

.grid[data-width="5"] {
  grid-template-columns: repeat(5, 1fr);
}

.grid[data-width="7"] {
  grid-template-columns: repeat(7, 1fr);
}

.grid[data-width="7"] .cell {
  width: clamp(48px, 12vw, 64px);
}

.grid[data-width="9"] {
  grid-template-columns: repeat(9, 1fr);
}

.grid[data-width="9"] .cell {
  width: clamp(32px, 9vw, 64px);
}

.grid[data-width="9"] .cell .content {
  font-size: clamp(1.5em, 6vw, 2em);
}

.grid .cell .background {
  align-items: center;
  background-color: #9da19c;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%
}

.grid .cell .content {
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  font-size: 2em;
  height: 80%;
  justify-content: center;
  text-transform: uppercase;
  width: 80%;
  z-index: 2;
}

.grid .cell-first .background {
  border: 2px solid #666;
}

.grid .cell-last .background {
  border: 2px dashed #666;
}

.grid .cell-active .background {
  border: 2px solid #999;
}

.grid .cell-path::after {
  box-sizing: border-box;
  content: '';
  display: none;
  height: 25%;
  left: 50%;
  opacity: 1;
  position: absolute;
  transform-origin: left center;
  width: 150%;
  z-index: 1;
}

.grid .cell-path.cell-direction-east::after {
  display: block;
  /* path is pointing east by default */
}

.grid .cell-path.cell-direction-north::after {
  display: block;
  transform: rotate(-90deg);
}

.grid .cell-path.cell-direction-north-east::after {
  display: block;
  transform: rotate(-45deg);
  width: 200%;
}

.grid .cell-path.cell-direction-north-west::after {
  display: block;
  transform: rotate(-135deg);
  width: 200%;
}

.grid .cell-path.cell-direction-south::after {
  display: block;
  transform: rotate(90deg);
}

.grid .cell-path.cell-direction-south-east::after {
  display: block;
  transform: rotate(45deg);
  width: 200%;
}

.grid .cell-path.cell-direction-south-west::after {
  display: block;
  transform: rotate(135deg);
  width: 200%;
}

.grid .cell-path.cell-direction-west::after {
  display: block;
  transform: rotate(-180deg);
}

.grid .cell-validated::after,
.grid .cell-validated .content {
  background-color: #59FFA0;
}

.grid .cell-hint .background,
.grid-mode-challenge .grid .cell-revealed::after,
.grid-mode-challenge .grid .cell-revealed .content {
  background-color: #FFED65;
}

.grid .cell-selected::after,
.grid .cell-selected .content {
  background-color: #FDFFF7;
}

.grid .cell-swap .background,
.grid .cell-swap .content,
.grid .cell-swapped .background {
  background-color: #B4ADEA;
}

.grid .cell-path.cell-word-end::after {
  background-color: #929791;
  z-index: -1;
}

.grid-loading .lds-ellipsis {
  display: inline-block;
}

.grid-mode-challenge #status::before {
  content: 'Score:';
}

.grid-mode-challenge #hint,
.grid-mode-pathfinder #reset,
.grid-mode-pathfinder #statistics,
.grid-mode-pathfinder #swaps,
.grid-mode-pathfinder #undo {
  display: none;
}

.grid-mode-challenge .word-info,
.grid-mode-challenge .word-match-exact,
.grid-mode-pathfinder .word-match-partial {
  color: #FFED65;
}

.grid-mode-pathfinder .word-match-exact {
  color: #59FFA0;
}

.grid-mode-pathfinder .word-match-none {
  color: white;
}

.grid-mode-pathfinder #status::before {
  content: 'Words:';
}

/* https://loading.io/css/ */
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #333;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* https://developers.google.com/fonts/docs/material_icons */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  min-height: 24px;
  overflow: hidden;
  width: 24px;
  user-select: none;
  vertical-align: middle;
}

.material-symbols-outlined.fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  user-select: none;
}

.menu {
  align-items: stretch;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1em;
}

.menu li.disabled {
  color: #50514F;
  cursor: default;
}

.menu a {
  color: white;
  text-decoration: none;
}

.selection {
  background: #50514F;
  border-radius: 16px;
  color: #9da19c;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 0.25em 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.share #share,
.share #settings {
  display: none;
}

.tippy-box[data-theme~='custom'] {
  background-color: #A7A9A4;
  color: black;
  font-size: 1.2em;
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #A7A9A4;
}

.tippy-box[data-theme~='custom'] > .tippy-content {
  padding: 0.5em 1em;
}

.word {
  color: inherit;
  margin: 0 0.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.word-info {
  color: white;
}

.word-info::before {
  color: #9da19c;
  content: '('
}

.word-info::after {
  color: #9da19c;
  content: ')'
}

.word-valid {
  color: #59FFA0;
}

@media (max-width: 1024px) {
  dialog {
    width: 100%;
  }
}
