/* https://coolors.co/50514f-b4adea-fdfff7-59ffa0-ffed65 */

html,
body {
  background-color: #333;
  color: white;
  font-family: 'Noto Sons Mono', monospace;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

code {
  background-color: #f4f4f4;
  border-radius: 16px;
  display: inline-block;
  font-size: 1em;
  padding: 0.5em;
}

details {
  background-color: white;
  border-bottom: 1px solid #A7A9A4;
  border-top: 1px solid #A7A9A4;
  padding: 1em;
}

details + details {
  border-top: none;
}

details > details {
  border: none;
}

details > summary {
  cursor: pointer;
}

dialog {
  background-color: #333;
  box-shadow: 0 0 0.75rem 0.5rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 16px;
  padding: 0;
  width: 50%;
}

dialog a {
  color: #333;
}

dialog a:visited {
  color: #B4ADEA;
}

dialog .container {
  align-items: start;
}

dialog .container .flex-left {
  flex-direction: column;
}

dialog .flex-left {
  flex: 2;
}

dialog .flex-right .grid {
  margin-left: 1em;
}

dialog .button,
dialog button {
  background-color: #333;
  border: none;
  border-radius: 16px;
  color: #d2d3cd;
  cursor: pointer;
  font-size: 1em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

dialog .buttons {
  margin-bottom: 1em;
}

dialog details h3,
dialog details h4,
dialog details p {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

dialog h1 {
  margin: 0;
  padding: 0;
}

dialog h3 {
  padding: 0.25rem 1rem;
}

dialog h4 {
  padding: 0 1rem;
}

dialog header {
  align-items: center;
  background-color: #333;
  color: white;
  display: flex;
  font-size: 1em;
  padding: 1rem;
}

dialog header button {
  border: none;
  background: none;
  color: white;
}

dialog p {
  margin: 1em;
}

dialog main {
  background-color: #d4d7d1;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

dialog footer {
  align-items: center;
  background-color: #333;
  border-top: 1px solid #ddd;
  display: flex;
  padding: 0.5em 1em;
}

dialog footer a {
  color: #d2d3cd;
}

dialog footer ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog footer ul li {
  border-left: 1px solid #ddd;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

dialog footer ul li:first-child {
  border: none;
  margin: 0;
  padding: 0;
}

p.center {
  margin: 1em auto;
}

#container header,
#container footer {
  align-items: stretch;
  display: flex;
}

#container header {
  color: white;
}

#container header a {
  color: white;
  text-decoration: none;
}

#container header .flex-left {
  flex: content;
  font-size: 24px;
}

#container footer {
  flex-direction: column;
  margin-bottom: 1em;
}

#container select {
  appearance: none;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Noto Sons Mono', monospace;
  font-size: 1em;
}

#container input {
  cursor: pointer;
}

#container #home {
  color: #B4ADEA;
}

#expand {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  padding: 1em;
}

#letter-points .letters {
  text-transform: uppercase;
}

#letter-points .points {
  color: black;
  margin-right: 0.5em;
  font-weight: bold;
}

#letter-points .points::before,
#letter-points .points::after {
  content: '';
}

#score {
  color: #FFED65;
}

#scoring-examples li {
  margin-bottom: 1em;
}

#scoring-examples li:last-child {
  margin-bottom: 0;
}

#scoring-examples .container {
  flex-direction: column;
}

#scoring-examples .container .flex-left {
  order: 2
}

#scoring-examples .container .flex-right {
  order: 1
}

#scoring-examples .flex-right .grid {
  margin-left: 0;
}

#selection.selection {
  border-radius: 0 0 16px 16px;
  display: block;
  font-size: 2em;
}

#selection span {
  padding-right: 0.5em;
}

#selection span:last-child {
  padding-right: 0;
}

#selection:empty::before {
  content: '...';
  display: inline-block;
}

#settings label {
  background-color: #333;
  border: none;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  padding: 0.25em 0.5em;
}

#status {
  font-size: 24px;
  padding: 1em 0;
  text-wrap: nowrap;
}

#swaps .swap {
  text-wrap: nowrap;
}

#title {
  padding: 1em 0 1em 1em;
}

#words .word {
  margin-right: 0.5em;
  text-transform: uppercase;
}

.buttons {
  grid-gap: 1em;
  margin: 1em 0;
}

.center {
  margin: 0 auto;
}

.container {
  align-items: center;
  display: flex;
  width: 100%;
}

.delete {
  align-items: center;
  background-color: #333;
  border-radius: 16px;
  cursor: pointer;
  padding: 0.25em 0.5em;
}

.drawer {
  background: #50514F;
  border-radius: 16px;
  display: none;
  font-size: 20px;
  padding: 1em;
}

.drawer h3 {
  font-size: 1em;
  margin: 0 0 0.5em 0;
}

.drawer ul {
  color: #d2d3cd;
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer li {
  margin-bottom: 0.5em;
}

.drawer li {
  padding: 0 0.5em;
}

.drawer ul:empty::after {
  padding: 0.5em;
}

.drawer li:last-child {
  margin-bottom: 0;
}

.drawer li .flex-left {
  flex-basis: fit-content;
}

.drawer ul:empty::after {
  content: 'N/A';
  display: inline-block;
}

.drawer .section {
  margin-top: 1em;
}

.drawer .section:first-child {
  margin: 0;
}

.expanded .drawer {
  display: block;
}

.flex-center,
.flex-left,
.flex-right {
  align-items: stretch;
  display: flex;
  flex: 1;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
  margin-left: 1em;
}

.grid {
  align-items: center;
  aspect-ratio: 1;
  background-color: #A7A9A4;
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  display: grid;
  gap: clamp(8px, 2vw, 16px);
  justify-items: center;
  margin: auto;
  padding: clamp(8px, 2vw, 16px);
  position: relative;
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  z-index: 0;
}

.grid .cell {
  align-items: center;
  aspect-ratio: 1;
  box-sizing: border-box;
  color: #333;
  display: flex;
  justify-content: center;
  position: relative;
  width: clamp(32px, 12vw, 64px);
}

.grid.example {
  aspect-ratio: auto;
  border-radius: 16px;
}

.grid[data-width="3"] {
  grid-template-columns: repeat(3, 1fr);
}

.grid[data-width="5"] {
  grid-template-columns: repeat(5, 1fr);
}

.grid[data-width="7"] {
  grid-template-columns: repeat(7, 1fr);
}

.grid[data-width="9"] {
  grid-template-columns: repeat(9, 1fr);
}

.grid[data-width="9"] .cell {
  width: clamp(32px, 9vw, 64px);
}

.grid .cell .background {
  align-items: center;
  background-color: #9da19c;
  border-radius: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%
}

.grid .cell .content {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: clamp(1em, 6vw, 2em);
  height: 80%;
  justify-content: center;
  text-transform: uppercase;
  width: 80%;
}

.grid .cell-active .content {
  background-color: rgba(0, 0, 0, 0.1);
}

.grid .cell-first .content {
  background-color: rgba(0, 0, 0, 0.2);
}

.grid .cell-path::after {
  box-sizing: border-box;
  content: '';
  display: none;
  height: 25%;
  left: 50%;
  opacity: 1;
  position: absolute;
  transform-origin: left center;
  width: 150%;
  z-index: -1;
}

.grid .cell-path.cell-direction-east::after {
  display: block;
  /* path is pointing east by default */
}

.grid .cell-path.cell-direction-north::after {
  display: block;
  transform: rotate(-90deg);
}

.grid .cell-path.cell-direction-north-east::after {
  display: block;
  transform: rotate(-45deg);
  width: 200%;
}

.grid .cell-path.cell-direction-north-west::after {
  display: block;
  transform: rotate(-135deg);
  width: 200%;
}

.grid .cell-path.cell-direction-south::after {
  display: block;
  transform: rotate(90deg);
}

.grid .cell-path.cell-direction-south-east::after {
  display: block;
  transform: rotate(45deg);
  width: 200%;
}

.grid .cell-path.cell-direction-south-west::after {
  display: block;
  transform: rotate(135deg);
  width: 200%;
}

.grid .cell-path.cell-direction-west::after {
  display: block;
  transform: rotate(-180deg);
}

.grid .cell-selected::after,
.grid .cell-selected .background {
  background-color: #FDFFF7;
}

.grid .cell-swap::after,
.grid .cell-swap .background,
.grid .cell-swapped::after,
.grid .cell-swapped .background {
  background-color: #B4ADEA;
}

.grid .cell-swapped.cell-selected::after,
.grid .cell-swapped.cell-selected .background {
  background-color: color-mix(in oklab, #B4ADEA, #FDFFF7)
}

.grid .cell-swapped.cell-validated::after,
.grid .cell-swapped.cell-validated .background {
  background-color: color-mix(in oklab, #B4ADEA, #59FFA0)
}

.grid .cell-validated::after,
.grid .cell-validated .background {
  background-color: #59FFA0;
}

.grid .cell-path.cell-word-end::after {
  opacity: 0.25;
}

/* https://developers.google.com/fonts/docs/material_icons */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  user-select: none;
  vertical-align: middle;
}

.material-symbols-outlined.fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  user-select: none;
}

.menu {
  align-items: stretch;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1em;
}

.menu a {
  color: white;
  text-decoration: none;
}

.points {
  color: #FFED65;
}

.points::before {
  color: #9da19c;
  content: '('
}

.points::after {
  color: #9da19c;
  content: ')'
}

.selection {
  background: #50514F;
  border-radius: 16px;
  color: #9da19c;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 0.25em 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.tippy-box[data-theme~='custom'] {
  background-color: #A7A9A4;
  color: black;
  font-size: 1.2em;
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #A7A9A4;
}

.tippy-box[data-theme~='custom'] > .tippy-content {
  padding: 0.5em 1em;
}

.valid {
  color: #59FFA0;
}

@media (max-width: 1024px) {
  dialog {
    width: 100%;
  }
}
