/* https://coolors.co/50514f-b4adea-fdfff7-59ffa0-ffed65 */

html,
body {
  background-color: #333;
  color: white;
  font-family: 'Noto Sons Mono', monospace;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

header, footer {
  align-items: stretch;
  display: flex;
}

header {
  color: white;
  font-size: 24px;
}

header a {
  color: white;
  text-decoration: none;
}

header .flex-left {
  flex: content;
}

footer {
  flex-direction: column;
  margin-bottom: 1em;
}

select {
  appearance: none;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Noto Sons Mono', monospace;
  font-size: 1em;
}

input {
  cursor: pointer;
}

#expand {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  padding: 1em;
}

#grid {
  background-color: #A7A9A4;
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  display: grid;
  font-size: 2em;
  margin: auto;
  position: relative;
  touch-action: none;
  user-select: none;
  z-index: 0;
}

#grid[data-width="5"] {
  grid-template-columns: repeat(5, 1fr);
}

#grid[data-width="7"] {
  grid-template-columns: repeat(7, 1fr);
}

#grid[data-width="9"] {
  grid-template-columns: repeat(9, 1fr);
}

#grid .cell {
  align-items: center;
  aspect-ratio: 1;
  background-color: #9da19c;
  border-radius: 50%;
  box-sizing: border-box;
  color: #333;
  display: flex;
  justify-content: center;
  margin: clamp(8px, 2vw, 16px);
  position: relative;
  text-transform: uppercase;
  width: 64px;
}

#grid .cell .content {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 80%;
  width: 80%;
}

#grid .cell-first .content {
  background-color: rgba(0, 0, 0, 0.2);
}

/* path is pointing east by default */
#grid .cell-path:not(.cell-last)::after {
  background-color: inherit;
  box-sizing: border-box;
  content: '';
  height: 25%;
  left: 50%;
  opacity: 1;
  position: absolute;
  transform-origin: left center;
  width: 150%;
  z-index: -1;
}

#grid .cell-path.cell-word-end::after {
  opacity: 0.5;
}

#grid .cell-path.cell-direction-north::after {
  transform: rotate(-90deg);
}

#grid .cell-path.cell-direction-north-east::after {
  transform: rotate(-45deg);
  width: 200%;
}

#grid .cell-path.cell-direction-north-west::after {
  transform: rotate(-135deg);
  width: 200%;
}

#grid .cell-path.cell-direction-south::after {
  transform: rotate(90deg);
}

#grid .cell-path.cell-direction-south-east::after {
  transform: rotate(45deg);
  width: 200%;
}

#grid .cell-path.cell-direction-south-west::after {
  transform: rotate(135deg);
  width: 200%;
}

#grid .cell-path.cell-direction-west::after {
  transform: rotate(-180deg);
}

#grid .cell-selected {
  background-color: #FDFFF7;
  color: black;
}

#grid .cell-swap,
#grid .cell-swapped {
  background-color: #B4ADEA;
  color: black;
}

#grid .cell-swapped.cell-selected {
  background-color: color-mix(in oklab, #B4ADEA, #FDFFF7)
}

#grid .cell-swapped.cell-validated {
  background-color: color-mix(in oklab, #B4ADEA, #59FFA0)
}

#grid .cell-validated {
  background-color: #59FFA0;
}

#grid .cell-word-end::before {
  opacity: 0.5;
}

#home {
  color: #B4ADEA;
}

#score {
  color: #FFED65;
}

#selection {
  background: #50514F;
  border-radius: 0 0 16px 16px;
  color: #9da19c;
  font-size: 2em;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

#selection span {
  padding-right: 0.5em;
}

#selection span:last-child {
  padding-right: 0;
}

#selection .points {
  color: #FFED65;
}

#selection .points::before {
  color: #9da19c;
  content: '('
}

#selection .points::after {
  color: #9da19c;
  content: ')'
}

#selection .valid {
  color: #59FFA0;
}

#selection:empty::before {
  content: '...';
  display: inline-block;
}

#settings label {
  background-color: #333;
  border: none;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  padding: 0.5em;
}

#status {
  font-size: 24px;
  padding: 1em 0;
  text-wrap: nowrap;
}

#swaps .swap {
  text-wrap: nowrap;
}

#title {
  padding: 1em 0 1em 1em;
}

#words .word {
  text-transform: uppercase;
}

.container {
  align-items: center;
  display: flex;
  width: 100%;
}

.delete {
  align-items: center;
  background-color: #333;
  border-radius: 16px;
  cursor: pointer;
  padding: 0.5em;
}

.drawer {
  background: #50514F;
  border-radius: 16px;
  display: none;
  font-size: 20px;
  padding: 1em;
}

.drawer h3 {
  font-size: 1em;
  margin: 0 0 0.5em 0;
}

.drawer ul {
  color: #d2d3cd;
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer li {
  margin-bottom: 0.5em;
}

.drawer li,
.drawer ul:empty::after {
  padding: 0 0.5em;
}

.drawer li:last-child {
  margin-bottom: 0;
}

.drawer li .flex-left {
  flex-basis: fit-content;
}


.drawer ul:empty::after {
  content: '...';
  display: inline-block;
}

.drawer .section {
  margin-bottom: 1em;
}

.drawer .section:last-child {
  margin: 0;
}

.expanded .drawer {
  display: block;
}

.flex-center,
.flex-left,
.flex-right {
  align-items: stretch;
  display: flex;
  flex: 1;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

/* https://developers.google.com/fonts/docs/material_icons */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  user-select: none;
  vertical-align: middle;
}

.material-symbols-outlined.fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  user-select: none;
}

.menu {
  align-items: stretch;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1em;
}

.menu a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1024px) {
  dialog {
    width: 100%;
  }
}
